---
import { Lism, Stack, Container } from "lism-css/astro";
---

<Container size="m" as="footer" setGutter py-s="50" py="40" mt="auto">
  <Stack ai="c" bgc="base-2" p="30" bdrs="99" bxsh="10" lh="xs">
    <Lism as="p" fz="l">Lism CSS</Lism>
    <Lism as="p" fz="xs">
      <a href="https://www.lism-css.com/" target="_blank">www.lism-css.com</a></Lism>
  </Stack>
</Container>
